h1 {
    text-align: center;
    color: gold;
    text-shadow: 
        -2px -2px 0 #00b100,  
        2px -2px 0 #00b100,
        -2px  2px 0 #00b100,
        2px  2px 0 #00b100; 
     font-size: 4em;
     background-color: rgb(110, 21, 21);
     margin: 0;
}
h2 {
    text-align: center;
    color: gold;
    text-shadow: 
        -2px -2px 0 #00b100,  
        2px -2px 0 #00b100,
        -2px  2px 0 #00b100,
        2px  2px 0 #00b100; 
     font-size: 2.25em;
     background-color: rgb(110, 21, 21);
     margin: 0;
}
nav {
    text-align: center;
    font-size: 1em;
    background-color: yellow;
    color: rgb(110, 21, 21);
}